// CSS class naming: section__block-element--modifier

@if $loadall or $critical {
    body {
        position: relative;
        color: color(z);
        background-color: color(a);
        transition: letter-spacing 0s, word-spacing 0s, font-weight 0s; // Fallback fonts shouldn't animate these properties
        z-index: z(body, 0);

        &::before,
        &::after {
            content: '';
            position: fixed;
            left: 0;
            right: 0;
            width: 100%;
            height: #{$site-frame};
            background-color: color(main);
            z-index: z(frame, 1);
            pointer-events: none;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }
    }

    body:not(.main-font-loaded) {
        font-family: 'Trebuchet MS', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
        letter-spacing: -.0375em;
        word-spacing: .05em;
    }

    body.main-font-loaded,
    body.no-js {
        font-family: $font-main, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
        letter-spacing: 0;
        word-spacing: 0;
    }

    h1 {
        font-size: 2rem;
        font-weight: normal;
    }

    img {
        border: 0;
        max-width: 100%;
        width: auto;
        height: auto;
        vertical-align: middle;
        white-space: pre-line;
        -ms-interpolation-mode: bicubic;
    }

    a {
        color: inherit;
        text-decoration: none;
        
        &:not([class]) {
            display: inline-block;
            @include text-shadow(color(a, 100));
            background-image: linear-gradient(color(main), color(main));
            background-repeat: no-repeat;
            background-size: 100% .0625em;
            background-position: 0 87.5%;
        }
    }
} // end @if $critical





@if $loadall or not $critical {
    a {
        &:not([href^="#"]) { // Not menu items (starting with a hash)
            transition: all .35s #{$transition-function} .02s;
        }

        &:not([class]) {
            &:hover,
            &:focus {
                color: color(z);
                @include text-shadow(color(a, 0), true);
                background-size: 100% 1.5em;
            }
        }
    }
    
    ::-moz-selection {
        color: color(a);
        background-color: color(main);
        text-shadow: none;
    }

    ::selection {
        color: color(a);
        background-color: color(main);
        text-shadow: none;
    }

    .button {
        $button-shadow: .1875rem;
        position: relative;
        display: inline-flex;
        align-items: center;
        height: 2rem;
        padding: 0 1rem;
        line-height: 2rem;
        vertical-align: middle;
        color: color(z);
        border: .125rem solid color(main);
        border-radius: $border-radius;
        box-shadow: 0 #{$button-shadow} 0 color(main-dark);
        overflow: hidden;
        cursor: pointer;
        z-index: 1;

        &::after {
            content: '';
            position: absolute;
            @include pos(0);
            width: 100%;
            height: 100%;
            box-shadow: 1rem 0 0 color(z);
            background-color: color(main);
            transform: translateX(calc(-100% - 1rem));
            z-index: 0;
        }

        &:hover,
        &:focus {
            &::after {
                transform: translateX(0);
            }
        }

        &:active {
            box-shadow: 0 0 0 color(main-dark);
            transform: translateY(#{$button-shadow});
        }

        > span,
        > input {
            cursor: pointer;
            z-index: 5;
        }
    }
} // end @if not $critical





@if $loadall or $critical {
    .site {
        position: relative;
        padding: #{$menu-offset} 0 0;
        background-color: inherit;
        
        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            width: #{$site-frame};
            background-color: color(main);
            z-index: z(frame, 1);
            pointer-events: none;
        }
        
        &::before {
            left: 0;
        }
        
        &::after {
            right: 0;
        }
    } // .site

    .menu {
        &__wrapper {
            position: fixed;
            left: $site-frame;
            right: $site-frame;
            top: $site-frame;
            padding: #{$menu-top-gutter};
            background-color: color(a, 90);
            z-index: z(menu, 0);
        }

        display: flex;
        max-width: $site-max-width;
        height: $menu-height;
        margin: 0 auto;
        color: color(main);
        z-index: z(menu, 1);

        &__logo,
        &__nav,
        &__links {
            height: inherit;
        }

        &__logo {
            flex: none;
            display: flex;
            align-items: center;
            width: #{$sqrt3 / 2 * 4rem}; // hexagon_width = sqrt(3) / 2 * hexagon_height
            
            &-svg {
                display: block;
                width: 100%;
            }
            
            &-fill {
                fill: color(z);
            }
        }

        &__nav,
        &__links {
            display: flex;
            
            &-item,
            &-link {
                display: inline-block;
                height: inherit;
                line-height: 4rem; // Identical to .menu `height`
                vertical-align: middle;
                z-index: z(menu, 4);
            }
        }

        &__nav {
            margin-left: 2rem;
            text-transform: uppercase;

            &-item {
                &:not(:first-child) {
                    margin-left: 2rem;
                }
            }
            
            &-item[aria-active="true"] > &-link {
                &::before {
                    background: color(comp);
                    clip: rect(3.75rem auto 4rem auto);
                    clip-path: polygon(0% 3.75rem, 100% 3.75rem, 100% 4rem, 0 4rem);
                    z-index: z(menu, 5);
                    transition: none;
                    animation: none;
                }
            }
            
            &-link {
                position: relative;

                &::before {
                    content: attr(data-content);
                    position: absolute;
                    width: inherit;
                    height: inherit;
                    line-height: inherit;
                    vertical-align: middle;
                    color: color(a);
                    background: color(main);
                    clip: rect(4rem auto 4rem auto);
                    clip-path: polygon(0% 4rem, 100% 4rem, 100% 4rem, 0 4rem);
                    z-index: z(menu, 5);
                    transition: .2s ease-in-out .02s;
                }
            }

            &-item:not([aria-active="true"]) > &-link:hover::before,
            &-item:not([aria-active="true"]) > &-link:focus::before {
                animation: menuNavItem .35s cubic-bezier(0, 0, 0, 1) both .02s;
            }
        }

        &__links {
            margin-left: auto;

            &-item {
                display: flex;
                width: 4rem;
                text-align: center;
            }
            
            &-link {
                width: inherit;
            }
            
            &-icon {
                vertical-align: middle;
                filter: grayscale(100%);
                transition: .2s ease-in-out .02s;
            }

            &-link:hover > &-icon,
            &-link:focus > &-icon {
                filter: grayscale(0%);
            }
        }
    } // .menu

    .content {
        z-index: z(body, 5);
        max-width: $site-max-width;
        margin: 0 auto;
    }

    .section {
        position: relative;
        width: 100%;
        min-height: 80vh;
        
        &--padded {
            padding: 0 #{$site-frame + 2rem};
        }
        
        &:not(:last-child) {
            padding-bottom: #{$menu-offset * 2};
            
            &::after { // Horizontal rule
                content: '';
                position: absolute;
                left: 50%;
                bottom: #{$menu-offset};
                width: 20rem;
                max-width: calc(100% - #{$site-frame * 2});
                height: .0625rem;
                background-image: linear-gradient(to right, color(comp, 0) 0%, color(comp, 75) 47.5%, color(comp, 100) 50%, color(comp, 75) 52.5%, color(comp, 0) 100%);
                background-position: 50% 50%;
                background-size: 200% 100%;
                transform: translateX(-50%);
                animation: sectionSeparator 2s ease-in-out alternate infinite both;
            }
            
            @keyframes sectionSeparator {
                from {
                    background-position: 0% 50%;
                }
                
                to {
                    background-position: 100% 50%;
                }
            }
        }
        
        &::before { // Anchor offset
            content: '';
            display: block;
            width: inherit;
            height: #{$menu-offset};
            margin: -#{$menu-offset + $site-frame} 0 0;
            visibility: hidden; 
            z-index: -1;
            pointer-events: none;
        }

        &__text {
            width: 100%;

            &:not(:last-child) {
                margin-bottom: 2rem;
            }
            
            &::before,
            &::after {
                color: color(comp);
            }
            
            &::before {
                content: '[';
            }
            
            &::after {
                content: ']';
            }
        }
    } // .section
    
    .width-constrain {
        max-width: $responsive-bp;
        margin: 0 auto;
    }

    .portfolio {
        z-index: z(presentation, 0);
        
        &__presentation {
            position: relative;
            height: calc(100vh - #{$menu-offset});
            padding-top: 5vmin;
            
            &-illustration {
                position: absolute;
                left: $site-frame;
                right: $site-frame;
                bottom: 0;
                height: 100%;
                overflow: hidden;

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-image:
                        //linear-gradient(to bottom, color(a, 100), color(a, 0) 25%), // Top
                        linear-gradient(to top, color(a, 100) 1.5%, color(a, 0) 15%), // Bottom
                        linear-gradient(to left, color(a, 100) .5%, color(a, 0) 5%), // Left
                        linear-gradient(to right, color(a, 100) .5%, color(a, 0) 5%); // Right
                }
            } // &-illustration
            
            &-video {
                position: absolute;
                left: 50%;
                bottom: 0;
                min-width: 100vmin;
                max-height: 100vmax;
                background-image: linear-gradient(to bottom, color(a) 0%, #40112c 65.5%, #330723 65.5%, #303a4b 82.75%, color(a) 100%);
                transform: translateX(-50%);
            }

            &-text {
                position: relative;
                width: 56.25vmin;
                min-width: 19rem;
                max-width: 100%;
                margin: 0 auto;
            } // &-text
            
            &-sun {
                position: absolute;
                left: 50%;
                top: -2vmin;
                width: 56.25%;
                padding-top: 56.25%;
                border-radius: 50%;
                box-shadow:
                    0 0      0      .25rem color(a),
                    0 1.5rem 1.5rem        color(comp, 25);
                transform: translateX(-50%);
                overflow: hidden;
                z-index: z(presentation, 1);

                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    display: block;
                    left: 0;
                    top: 0;
                    width: 100%;
                }

                &::before {
                    height: 100%;
                    background-image: linear-gradient(
                        to bottom,
                        #{$intro-sun-color-a} 0%,
                        #{$intro-sun-color-b} 80%,
                        #{$intro-sun-color-c} 100%
                    );
                    z-index: z(presentation, 2);
                }

                &::after {
                    height: 200%;
                    background-image:
                        repeating-linear-gradient(
                            to bottom,
                            transparent 0,
                            transparent .75rem,
                            #{$intro-sun-bg} .75rem,
                            #{$intro-sun-bg} 1.5rem,
                            transparent 1.5rem
                        );
                    transform: perspective(16rem) rotateX(-42deg);
                    animation: presentationSun 1.5s linear infinite;
                    z-index: z(presentation, 3);
                }
            } // &-sun
            
            &-image {
                display: block;
                width: 100%;
            }

            &-intro &-image,
            &-name &-image {
                transform: skewY(-3deg);
            }

            &-intro,
            &-name,
            &-skills,
            &-geo {
                position: relative;
                display: block;
                margin: 0 auto;
                text-align: center;
                text-shadow:
                    .0625rem .0625rem 0 color(a),
                    .1250rem .1250rem 0 color(a);
            }

            &-intro {
                font-size: .67em;
                color: color(comp);
                text-decoration: underline;
                text-decoration-color: color(glow);
                @include intro-reveal(1);
                z-index: z(presentation, 6);
            }

            &-name {
                font-size: 2.5em;
                filter: drop-shadow(0 0 20px color(comp)); // Pink glow
                @include intro-reveal(2);
                z-index: z(presentation, 5);

                > img,
                > svg {
                    filter: drop-shadow(3px 3px 0 color(a)); // Black drop-shadow
                }
            }

            &-skills {
                font-size: .875em;
                color: color(glow);
                filter: drop-shadow(2px 2px 0 color(a)); // Black drop-shadow
                @include intro-reveal(3);
                z-index: z(presentation, 6);
            }

            &-geo {
                font-size: .5em;
                text-transform: uppercase;
                filter: drop-shadow(2px 2px 0 color(a)); // Black drop-shadow
                @include intro-reveal(4);
                z-index: z(presentation, 7);
            }
        }
        
        
        
        
        
        &__projects {
            margin: 0 auto;

            &-list {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
                grid-gap: $grid-gutter;
                grid-auto-flow: row;
                justify-items: start;
                align-items: start;
                justify-content: space-between;
                overflow: hidden; // Clears the floats for the fallback style
            }
        }
    } // .portfolio
} // end @if $critical





@if $loadall or not $critical {
    @keyframes menuNavItem {
        0% {
            background: color(z);
            opacity: 0;
            clip: rect(0rem auto 0rem auto);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            animation-timing-function: linear;
        }
        50% {
            opacity: 1;
            clip: rect(1.5rem auto 3.5rem auto);
            clip-path: polygon(0% 1.5rem, 100% 1.5rem, 100% 3.5rem, 0 3.5rem);
        }
        100% {
            background: color(main);
            opacity: 1;
            clip: rect(3.75rem auto 4rem auto);
            clip-path: polygon(0% 3.75rem, 100% 3.75rem, 100% 4rem, 0 4rem);
        }
    }

    @keyframes presentationSun {
        0% { background-position: 0 0; }
        100% { background-position: 0 1.5rem; }
    }
    
    .project {
        position: relative;
        cursor: pointer;
        overflow: hidden;
        transition: transform .35s #{$transition-function} .02s;
        z-index: z(projects, 1);
        
        /* CSS Grid Fallback */
        display: block;
        float: left;
        margin: #{$grid-gutter/2};
        width: 15%;
        width: calc((100% - #{$grid-gutter * 5}) / 6);

        @media screen and (min-width: #{$responsive-bp}) and (max-width: 80rem) {
            width: 22.5%;
            width: calc((100% - #{$grid-gutter * 3}) / 4);
        }
        /* End fallback */
        
        &__frame {
            padding-bottom: 100%; // 1:1 Aspect ratio trick
            font-size: inherit;
            z-index: z(projects, 1);
        }
        
        &::before,
        &::after,
        &__frame::before,
        &__frame::after {
            content: '';
            position: absolute;
            font-size: inherit;
            transition-duration: $grid-cell-anim-time;
            z-index: z(projects, 2);
        }
        
        // Horizontal borders
        &::before,
        &__frame::before {
            width: 200%;
            height: .125rem;
            transition-delay: $grid-cell-anim-time * 0.67 + $transition-delay;
            transition-timing-function: ease-out;
        }
        
        &::before {
            left: 0;
            top: 0;
            background-image: linear-gradient(to right, color(comp) 0%, color(glow) 50%, color(z) 50%);
            transform: translateX(-50%);
        }
        
        &__frame::before {
            right: 0;
            bottom: 0;
            background-image: linear-gradient(to left, color(comp) 0%, color(glow) 50%, color(z) 50%);
            transform: translateX(50%);
        }

        &:hover::before,
        &:focus::before {
            transform: translateX(51%);
        }
        
        &:hover > &__frame::before,
        &:focus > &__frame::before {
            transform: translateX(-51%);
        }
        
        &:hover::before,
        &:focus::before,
        &:hover > &__frame::before,
        &:focus > &__frame::before {
            transition-delay: $transition-delay;
            transition-timing-function: ease-in;
        }
        
        // Vertical borders
        &::after,
        &__frame::after {
            width: .125rem;
            height: 200%;
            transition-delay: $transition-delay;
            transition-timing-function: ease-in;
        }

        &::after {
            right: 0;
            top: 0;
            background-image: linear-gradient(to bottom, color(comp) 0%, color(glow) 50%, color(z) 50%);
            transform: translateY(-50%);
        }

        &__frame::after {
            left: 0;
            bottom: 0;
            background-image: linear-gradient(to top, color(comp) 0%, color(glow) 50%, color(z) 50%);
            transform: translateY(50%);
        }

        &:hover::after,
        &:focus::after {
            transform: translateY(51%);
        }

        &:hover > &__frame::after,
        &:focus > &__frame::after {
            transform: translateY(-51%);
        }

        &:hover::after,
        &:focus::after,
        &:hover > &__frame::after,
        &:focus > &__frame::after {
            transition-delay: $grid-cell-anim-time * 0.67 + $transition-delay;
            transition-timing-function: ease-out;
        }
        
        &__image {
            position: absolute;
            @include pos(.125rem);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            opacity: .25;
            transform: scale(1.125);
            transition: all .5s #{$transition-function} .02s;
            z-index: -1;
        }

        &:hover &__image,
        &:focus &__image {
            opacity: 1;
            transform: scale(1);
        }

        &__logo {
            position: absolute;
            @include pos(0);
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            z-index: z(projects, 2);
            transition:
                opacity .5s cubic-bezier(1, 0, 0, 1) .02s,
                transform .5s cubic-bezier(1, -0.25, 0, 1.25) .02s; // Subtle bouncy effect
        }
        
        &:hover &__logo,
        &:focus &__logo {
            opacity: 0;
            transform: scale(1.25);
        }
    }
    
    @supports (display: grid) {
        .project {
            width: 100%;
            height: 100%;
            margin: 0;
        }
    }
    
    .resume {
        z-index: z(resume, 0);

        &__area {
            display: flex;
            flex-wrap: wrap;
        }
        
        &__group {
            flex: none;
            width: 50%;
            margin-bottom: 2rem;

            &:nth-of-type(odd) {
                padding-right: 1rem;
                text-align: right;
            }

            &:nth-of-type(even) {
                padding-left: 1rem;
            }

            &-list {
                list-style: none;
            }

            &-item {
                display: block;
            }
        }

        &__download {
            &::before {
                content: '';
                display: inline-block;
                width: 1rem;
                height: 1rem;
                margin-right: .5rem;
                background: transparent url(../img/download.png) center no-repeat;
                background-image: none, url(../img/download.svg);
                background-size: contain;
                z-index: 7;
            }
        }
    }

    .about {
        &__image {
            width: 100%;
        }
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        
        &__block {
            flex: 0 0 auto;
        }
        
        &__list {
            display: inline-block;
            margin-bottom: 2rem;
            list-style: none;
            
            &-item {
                position: relative;
                display: flex;
                align-items: center;
                padding: 1rem;
                text-align: left;
                z-index: z(contact, 1);
                
                &:not(:last-child) {
                    margin-bottom: 1rem;
                }
            }
            
            &-icon {
                position: relative;
                display: inline-block;
                margin-right: 1rem;
                background-color: color(z);

                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: inherit;
                    z-index: -1;
                }

                &::before {
                    transform: rotate(-60deg);
                }

                &::after {
                    transform: rotate(60deg);
                }
            }
        } // &__list
        
        &__illustration {
            flex: 1 1 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 8rem;
            
            &-image {
                width: auto;
                height: 100%;
                max-height: 8rem;
            }
        }
    } //.contact

    .foot {
        display: flex;
        justify-content: space-between;
        padding: 2rem #{$site-frame + 2rem};
        font-size: .875rem;
        color: color(z);
        z-index: z(body, 9);

        &__legal,
        &__love,
        &__lang {
            flex: none;
            width: calc(100% / 3);
        }

        &__love {
            text-align: center;
        }

        &__lang {
            text-align: right;

            &-link {
                display: inline-block;
                color: color(z);
                box-shadow: 0 .0625rem 0 color(main, 0);
                transition: .2s ease-in-out .02s;

                &:hover,
                &:focus {
                    color: color(main);
                    box-shadow: 0 .0625rem 0 color(main, 100);
                }

                html[lang="en"] &[data-lang-link="en"],
                html[lang="fr"] &[data-lang-link="fr"] {
                    color: color(z);
                    box-shadow: 0 .0625rem 0 color(z);
                    
                    &:hover,
                    &:focus {
                        color: color(main);
                    }
                }
            }
        }
    } // .foot

    .modal {
        &__wrapper {
            position: fixed;
            @include pos($site-frame);
            background: color(a, 75);
            overflow: hidden;
            animation: projectModalBackgroundReveal .25s ease-out;
            z-index: z(modal, 5);
            overscroll-behavior-y: none;

            &::after {
                content: attr(data-current-project) ' / ' attr(data-projects);
                position: absolute;
                left: 50%;
                bottom: .375rem;
                height: 1.25rem;
                padding: .25rem .75rem;
                font-size: .75rem;
                line-height: .75rem;
                color: color(z);
                border-radius: .625rem;
                background-color: color(a);
                transform: translateX(-50%);
            }
        }

        &--dragging * {
            cursor: grabbing;
        }

        &__content {
            position: absolute;
            @include pos(2rem);
            display: flex;
            color: color(a);
            background: color(m);
            box-shadow:
                0 0 2rem color(m, 50),
                -100vw 0 0 color(m, 0),
                100vw 0 0 color(m, 0);
            transition: transform 0s linear, box-shadow .3s ease-in-out;
            animation: projectModalContentReveal .25s cubic-bezier(0, .5, 0, 1);
            will-change: transform;
            z-index: z(modal, 10);

            &--loaded { // Add fake containers to each side for slide transitions
                box-shadow:
                    0 0 2rem color(m, 50),
                    -100vw 0 0 color(m),
                     100vw 0 0 color(m);
            }

            &--previous {
                transform: translateX(100vw);
            }

            &--next {
                transform: translateX(-100vw);
            }

            &--switch {
                transition: transform .3s cubic-bezier(.5, 0, .5, 1), box-shadow .3s ease-in-out;
            }
        } // &__content

        &__media,
        &__info {
            height: 100%;
            opacity: 1;
            transition: opacity .3s cubic-bezier(.5, 0, .5, 1);
            will-change: opacity;
        }
        
        &__content--switch &__media,
        &__content--switch &__info {
            opacity: 0;
            transition: opacity .3s cubic-bezier(.5, 0, .5, 1);
        }

        &__media {
            position: relative;
            flex: 1 0 auto;
            display: flex;
            background: color(a);
        }

        &__image {
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        
        &__info {
            flex: 1 0 none;
            width: 25vw;
            max-width: 24rem;
            background: color(z);
            overflow-y: auto;
        } // &__info
        
        &__buttons {
            flex: none;
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            display: flex;
            width: 100%;
            margin-bottom: .5rem;
            text-align: center;
            background-color: color(a-m);
        } // &__buttons
        
        &__button {
            position: relative;
            flex: 1 1 auto;
            height: 2rem;
            border: 0;
            color: color(z);
            cursor: pointer;
            transition: all .15s cubic-bezier(.5, 0, .5, 1) .02s;
            will-change: background-position;

            > span {
                display: inline-block;
                visibility: hidden;
                width: 0;
                height: 0;
                font-size: 0;
            }

            &:hover {
                color: color(z);
            }

            &::after {
                content: '';
                position: absolute;
            }
            
            &-prev {
                background: linear-gradient(to right, transparent 50%, color(comp) 50%);
                background-size: 200% 100%;
                background-position: 0% 50%;

                &:hover {
                    background-position: 100% 50%;
                }

                &::after {
                    border-color: transparent transparent currentColor currentColor;
                    transform: translateX(calc(-50% + .125rem)) rotate(45deg);
                }
            }

            &-next {
                background: linear-gradient(to left, transparent 50%, color(comp) 50%);
                background-size: 200% 100%;
                background-position: 100% 50%;

                &:hover {
                    background-position: 0% 50%;
                }

                &::after {
                    border-color: transparent currentColor currentColor transparent;
                    transform: translateX(calc(-50% - .125rem)) rotate(-45deg);
                }
            }

            &-prev,
            &-next {
                &::after {
                    left: 50%;
                    top: calc(.75rem - 1px);
                    width: .5rem;
                    height: .5rem;
                    border-width: .125rem;
                    border-style: solid;
                    background-color: transparent;
                }
            }

            &-close {
                border-style: solid;
                border-width: 0 1px;
                border-color: color(z);
                background: linear-gradient(to bottom, transparent 50%, color(comp) 50%);
                background-size: 100% 200%;
                background-position: 50% 0%;

                &:hover {
                    background-position: 50% 100%;
                }

                &::before,
                &::after {
                    left: 50%;
                    top: 50%;
                    width: 1rem;
                    height: .125rem;
                    background-color: currentColor;
                }

                &::before {
                    content: '';
                    position: absolute;
                    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
                }

                &::after {
                    transform: translateX(-50%) translateY(-50%) rotate(45deg);
                }
            }
        } // &__button
        
        &__name,
        &__logo,
        &__description {
            padding: 0 .5rem .5rem;
        }

        &__logo {
            text-align: center;
            flex: none;

            &-image {
                width: 50%;
            }
        }

        &__name {
            font-size: 1.25rem;
        }

        &__details {
            display: flex;
            justify-content: space-between;
            margin-bottom: .5rem;
            padding: .5rem .5rem 0;
            border-style: solid;
            border-color: color(z-m);
            border-width: 1px 0;

            &-type {
                font-size: .75rem;
                line-height: 1rem;
                vertical-align: middle;
                text-transform: uppercase;
            }

            &-tools {
                text-align: right;
            }
        }

        &__description {
            > a { // Adjusted for modal background color
                @include text-shadow(color(z, 100));

                &:hover,
                &:focus {
                    @include text-shadow(color(z, 0));
                }
            }
        }
    } // .modal

    @keyframes projectModalBackgroundReveal {
        from { opacity: 0; }
    }

    @keyframes projectModalContentReveal {
        from {
            opacity: 0;
            transform: scale(0);
        }
    }

    .slideshow {
        position: relative;
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        height: 100%;

        &__radio {
            position: absolute;
            left: -9999px;
            opacity: 0;
        }

        &__label {
            flex: 1 1 auto;
            display: flex;
            width: 10rem;
            cursor: pointer;

            &:not(:first-of-type) {
                margin-top: 1px;
            }

            &-thumbnail {
                width: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                opacity: .5;
                box-shadow: inset 0 0 0 .125rem color(m);

                &:hover {
                    box-shadow: inset 0 0 0 .125rem color(z);
                    opacity: .75;
                }
            }
        }

        &__radio:checked + &__label > &__label-thumbnail {
            opacity: 1;
            box-shadow: inset 0 0 0 .125rem color(main);
        }

        &__container {
            width: calc(100% - 10rem);
            height: inherit;

            &-image {
                display: none;
                width: 100%;
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }

        @for $s from 1 through 8 {
            &__radio:nth-of-type(#{$s}):checked ~ &__container > &__container-image:nth-of-type(#{$s}) {
                display: block;
            }
        }
        
        &__radio:nth-of-type(1):checked ~ &__radio:nth-of-type(2) + &__label:not(:hover) > &__label-thumbnail { // Flashing 2nd thumbnail to incite to click
            animation: slideshowFlashingThumbnail 1s ease-in-out alternate infinite;
        }
        
        @keyframes slideshowFlashingThumbnail {
            to {
                box-shadow: inset 0 0 0 .125rem color(comp);
                opacity: .75;
            }
        }
    } // .slideshow

    .loader { // Loader in background
        position: relative;

        &::before,
        &::after {
            position: absolute;
            content: '';
            left: 50%;
            top: 50%;
            width: 6rem;
            height: .25rem;
            transform: translate(-50%, -50%);
            z-index: -1;
        }
        
        &::before {
            background-color: color(kitt, 10);
            background-image: linear-gradient(
                to right,
                color(kitt, 0) 0%,
                color(kitt, 25) 33%,
                color(kitt, 100) 50%,
                color(kitt, 25) 67%,
                color(kitt, 0) 100%
            );
            background-size: 200% 100%;
            background-position: 0% 50%;
            animation: loader .5s ease-in-out infinite alternate both;
        }
        
        &::after {
            background: repeating-linear-gradient(to right, transparent 0rem, transparent calc(1rem - 1px), color(a) calc(1rem - 1px), color(a) 1rem);
        }
    } // .loader

    @keyframes loader {
        to { background-position: 100% 50%; }
    }
} // end @if not $critical