.font--main {
    font-family: $font-main;
}

.font--title {
    font-family: $font-title;
    font-weight: bold;
}

.text--uppercase { text-transform: uppercase; }
.text--bold { font-weight: bold; }
.text--italic { font-style: italic; }
.text--left { text-align: left; }
.text--center { text-align: center; }
.text--right { text-align: right; }

.color--a { color: color('a'); }
.color--a-m { color: color('a-m'); }
.color--m { color: color('m'); }
.color--z-m { color: color('z-m'); }
.color--z { color: color('z'); }
.color--main { color: color('main'); }
.color--comp { color: color('comp'); }

.visually-hidden {
    position: absolute;
    width: 1px; 
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
}