html,
body {
    font-size: 16px;
}

html {
    text-size-adjust: 100%;
}

body {
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    line-height: 1.5em;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    transform-style: inherit;
    transition: inherit;
}

img {
    border: 0;
    max-width: 100%;
    width: auto;
    height: auto;
    vertical-align: middle;
}

input,
textarea,
button {
    border: 0;
    background: none;
}