//html5doctor.com Reset Stylesheet v1.6.1
//Author: Richard Clark - http://richclarkdesign.com 
//Twitter: @rich_clark

html, body, div, span, object, iframe, 
h1, h2, h3, p, img,
strong, ul, li, 
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary, 
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, main, menu, nav, section { 
    display: block;
}

nav ul {
    list-style: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
button, input, select, textarea {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    appearance: none;
}

*:focus {
    outline: 0;
}
// End reset